body {
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 3px;
}

.content, .favorites-header {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hidden {
    display: none;
}

h1 {
    margin: 5px;
    padding: 10px
}

h2 {
    margin: 0;
    padding: 10px 20px 2px;
    font-size: medium;
}

.form-wrapper {
    margin: 2px;
    width: 50%;
    background-color: white;
    border-radius: 15px;
}

.radio-button-wrapper {
    font-style: italic;
    color: black;
    width: 50;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.receive-button-wrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.receive-button {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #134d71;
    width: 150px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.message-wrapper {
    color: black;
    background-color: white;
    margin: 30px 5px 5px;
    height: 100px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

img {
    width: 45px;
    height: auto;
}

.favorite-button, .view-favorites-button, #back-to-main-button  {
    background-color: #134d71;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
/* #back-to-main-button {
    background-color: #134d71;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
} */

#back-to-main-button:active, .receive-button:active, .favorite-button:active, .view-favorites-button:active {
    background-color: #0e3c57;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */
